body {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}


section {
    height: 500px;
    background-color:#4e4e50;;
}

.hero {
    background-color: #1a1a1d;
    height: 100vh;
    
    font-size: 60px;

}

nav {
    display: flex;
    justify-content: space-between;
    
}

ul {
    display: flex;
    list-style-type: none;
    width: 1000px;
    justify-content: space-around;
}

li {
  text-decoration: none;
  color:#4e4e50;
}

h1 {
    font-size: 120px;
    font-family: 'Cedarville Cursive', cursive;
    font-weight:900;
}

h2 {
    font-size: 70px;
    font-family: 'Cedarville Cursive', cursive;
    font-weight:900;
}

p {
    
    font: weight 500;
    font-size:35px;
  
}
.heroBody {
    display: flex;
    
    height: 100%;
    justify-content:space-between; 
    margin-left:200px;
    align-items:center;

}


.heroIntro {
    margin-left: 100px;
    color:#c3073f;
    margin-bottom:300px;
}

.button { 
    width: 120px;
    height: 90px;
    border-radius: 100px;
   background-color: #1A1A1D;
   border-color: #6f2232;
    text-align: center;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 90px;
    
}


footer {
    height: 500px;
    background-color: gray;

}


.button:hover {
    background-color: #1A1A1D;
}

.button:active {
    background-color:#1A1A1D;
    color: #373D3F;
   
}

.links {
    padding-bottom: 200px;
}
  

.logo {
height:200px;
margin:30px;
}

.porto {
    margin: 100px;
}

.bodyinfo {
    display:flex;
    justify-content:space-around;
    padding: 200px;

}

.Pic {
    width: 400px;
 
    border-radius:100px;
}

.avatar {
    display:flex;
    align-items: center;

}

.work1 {
    width:200px;
    height: 500px;
    border: 1px solid black;
}